body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient( 135deg, #4facfe, #00f2fe);
    font-family: sans-serif;
}
.app {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fa-magnifying-glass {
    padding-right: 10px;
    color: white;
}
.container {
    width:90%;
    height: 80vh;

    display: grid;

    grid-template-rows: 2fr 1fr 1.fr;
    grid-template-columns: 2fr 1fr;

    gap: 20px;
}
.card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.341);

    backdrop-filter: blur(25px);

    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: rgba(0, 2, 55, 0.945);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
.card1 {
    grid-row: span 2;
    position: relative;
    overflow: hidden;
}
.blob {
    position: absolute;
    width: 250px;
    height: 250px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5), transparent);
    top: -50px;
    right: -50px;
    border-radius: 50%;
    animation: floatBlob 8s ease-in-out infinite;
}
@keyframes floatBlob {
    0% {
        transform: 
            translateY(0px)
            translateX(0px);
    }
    50% {
        transform: 
            translateY(40px)
            translateX(-40px);
    }
    100% {
        transform: 
            translateY(0px)
            translateX(0px);
    }
}
.card3 {
    grid-column: span 1;
    overflow: hidden;
}
.card6 {
    grid-column: span 2;
    overflow: hidden;
}

.search-bar{
    display: flex;
    gap: 15px;
    align-items: center;
}
#cityInput {
    width: 250px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 16px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
}
#cityInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
#searchBtn {
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
#searchBtn:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, 0.3);
}

/* hourly forcast style */
#forcastContainer {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 10px;
}
#forcastContainer::-webkit-scrollbar {
    display: none;
}
.forcast-card {
    min-width: 100px;
    flex-shrink: 0;
    padding: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.card4 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.sun-track {
    flex: 1;
    height: 10px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
}
.sun-progress {
    height: 100%;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(90deg, #ffd54f, #ff9800);
}
/* Icons */
i {
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 0.9;
    color: black;
}